/* !/usr/bin/env css
-*- coding: utf-8 -*- */
/*
region header
Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

License
-------

This library written by Torben Sickert stands under a creative commons naming
3.0 unported license. See https://creativecommons.org/licenses/by/3.0/deed.de
endregion
*/
@use "variables" as v;

:root {
    /* region custom-properties */
    --w-default-space: #{v.$default-space};
    /** region dimensions */
    --w-extra-extra-small-width: #{v.$extra-extra-small-width};
    --w-extra-small-width: #{v.$extra-small-width};
    --w-small-width: #{v.$small-width};
    --w-medium-width: #{v.$medium-width};
    --w-large-width: #{v.$large-width};
    /*** region extra small dimension */
    @custom-media --w-extra-extra-small
    (min-width: #{v.$extra-extra-small-width});
    @custom-media --w-extra-small (min-width: #{v.$extra-small-width});
    /*** endregion */
    /*** region default media query dimensions */
    @custom-media --w-small (min-width: #{v.$small-width});
    @custom-media --w-medium (min-width: #{v.$medium-width});
    @custom-media --w-large (min-width: #{v.$large-width});
    /*** endregion */
    /** endregion */
    /** region color */
    --w-theme-background: #{v.$theme-background};
    --w-theme-primary: #{v.$theme-primary};
    --w-theme-on-primary: #{v.$theme-on-primary};
    --w-theme-secondary: #{v.$theme-secondary};
    --w-theme-on-secondary: #{v.$theme-on-secondary};
    --w-theme-error: #{v.$theme-error};
    --w-theme-on-error: #{v.$theme-on-error};
    --w-theme-surface: #{v.$theme-surface};
    --w-theme-on-surface: #{v.$theme-on-surface};
    /** endregion */
    /** region font */
    --w-typography-font-family: #{v.$typography-font-family};
    --w-typography-font-family-headline: #{v.$typography-font-family-headline};
    /** endregion */
    /* endregion */
}

website-utilities {
    font-family: var(--w-typography-font-family, v.$typography-font-family);
    font-size: 14px;
    /* region generic dom nodes */
    /** region headline */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--w-typography-font-family, v.$typography-font-family);
        line-height: 1.1;
    }

    h1,
    h2 {
        font-family: var(
                --w-typography-font-family-headline,
                v.$typography-font-family-headline
        );
        font-weight: normal;
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }
    /** endregion */
    /** region  link */
    a,
    a:hover,
    a:focus,
    a:visited {
        outline: none;
        text-decoration: none;
    }
    /** endregion */
    /* endregion */
    /* region generic classes */
    /* Disables and hides a scrolling and scrollbar. */
    .wu-action {
        cursor: pointer;
    }

    .wu-disable-scrolling {
        height: 100% !important;
        overflow: hidden !important;
    }

    .wu-section-active {
        display: block;
    }

   .wu-section-inactive {
        display: none;
    }
    /** region form */
    /*** region styled select */
    .wu-select {
        position: relative;

        &__arrow {
            position: absolute;
            top: 3px;
            right: 15px;
            pointer-events: none;

            span {
                vertical-align: bottom;
                font-size: 10px;
            }
        }

        select {
            position: initial !important;
            padding-left: 7px !important;
            padding-right: 25px !important;
            /* hide default down arrow in IE10 */
            &::-ms-expand {
                display: none;
            }
        }
    }
    /*** endregion */
    /*** region styled checkbox */
    .wu-checkbox {
        margin-top: 2px;
        padding-top: 3px;

        label {
            padding-left: 40px;

            .wu-checkbox__wrapper {
                margin-top: -2px;
                margin-left: -40px;
                position: absolute;

                .wu-checkbox__wrapper__styled {
                    border-radius: 4px;
                    border: 2px solid var(--w-theme-primary, v.$theme-primary);
                    cursor: pointer;
                    float: right;
                    height: 25px;
                    padding: 0;
                    width: 25px;

                    .wu-checkbox__wrapper__styled__checked {
                        background: transparent;
                        border: 3px solid var(--w-theme-on-primary, v.$theme-on-primary);
                        border-top: none;
                        border-right: none;
                        height: 8px;
                        left: 4px;
                        opacity: 0;
                        position: absolute;
                        top: 5px;
                        transform: rotate(-45deg);
                        width: 13px;
                    }
                }

                input[type="checkbox"] {
                    display: none;

                    &:checked ~ .wu-checkbox-styled > .wu-checkbox-styled-checked {
                        opacity: 1;
                    }

                    &:disabled ~ .wu-checkbox-styled {
                        background-color: var(--w-theme-surface, v.$theme-surface);
                    }
                }
            }
        }
    }
    /*** endregion */
    /** endregion */
    /* endregion */
    /* region move to top button animation */
    .wu-scroll-to-top {
        display: block;

        transition-property: bottom, opacity;
        transition-duration: .5s;

        position: fixed;

        right: var(--w-default-space, #{v.$default-space});
    }

    .wu-scroll-to-top.wu-scroll-up {
        bottom: calc(3 * var(--w-default-space, #{v.$default-space}));
        opacity: 0;
    }

    .wu-scroll-to-top.wu-scroll-down {
        bottom: var(--w-default-space, #{v.$default-space});
        opacity: 1;
    }

    .wu-scroll-to-top.wu-top-settled {
        display: none;
    }
    /* endregion */
    /* region priority navigation */
    .wu-priority-navigation {
        > ul {
            list-style: none;

            > li {
                display: inline-block;
                position: relative;

                &.wu-priority-navigation__overflow {
                    display: none;
                }
            }
        }

        a {
            text-decoration: none;
            color: white;
            display: inline-block;
            padding: 10px 15px;
        }
        /* region menu highlighter */
        a::after {
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: none;
            box-sizing: border-box;
        }
        /*
            NOTE: Will be set to when startup animations have been finished.

            a.wu-priority-navigation__link--active::after {
                view-transition-name: wu-menu-highlight;
            }
        */
        /* endregion */

        &.resizing {
            overflow: hidden;
        }
    }

    .wu-priority-navigation__overflow__list {
        display: block;
        width: max-content;
        background: white;
        box-shadow: 0 0 10px rgb(black, 0.35);
        position: absolute;
        top: 95%; // moves to 100% on hover generally
        right: -20px;
        opacity: 0;
        visibility: hidden;
        padding: 5px 0;

        list-style: none;

        &.wu-priority-navigation__overflow__list--show {
            opacity: 1;
            visibility: visible;
        }

        > li > a {
            color: black;
            display: block;
        }
    }

    .wu-priority-navigation__overflow__title {
        cursor: pointer;
        text-align: center;
        color: #222;
        border-radius: 50%;
        font-size: 10px;
        width: 2em;
        height: 2em;
        line-height: 2.2em;
        vertical-align: top;
        display: inline-block;
    }

    .wu-priority-navigation__list__item--hide {
        display: none !important;
    }

    .wu-priority-navigation__overflow--inline-block {
        display: inline-block !important;
    }
    /* endregion */
}
/* Overlay the whole page till everything is loaded completely. */
.wu-window-loading-cover {
    background-color: var(--w-surface-color, v.$theme-surface);
    top: 0;
    left: 0;
    /* always cover full viewport */
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1002 !important;

    .loading-text {
        position: absolute;
        inset: 0;
        margin: auto;
        text-align: center;

        width: 100%;
        height: 100px;
        line-height: 100px;

        span {
            display: inline-block;
            margin: 0 5px;
            color: var(--w-on-surface-color, v.$theme-on-surface);

            @for $i from 0 through 40 {
                &:nth-child(#{$i + 1}) {
                    filter: blur(0);
                    animation: blur-text 1.5s (#{$i / 5}) + s infinite linear alternate;
                }
            }
        }
    }
}

::view-transition-old(wu-menu-highlight) {
    height: 100%;
}

::view-transition-new(wu-menu-highlight) {
    height: 100%;
}

@keyframes blur-text {
    0% {
        filter: blur(0);
    }

    100% {
        filter: blur(4px);
    }
}
