<!doctype html>
<%_ /*
    region header
    Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

    License
    -------

    This library written by Torben Sickert stands under a creative commons
    naming 3.0 unported license.
    See https://creativecommons.org/licenses/by/3.0/deed.de
    endregion
*/ _%>
<html class="wu-no-javascript" lang="en">
    <!--region head-->
    <head>
        <meta charset="utf-8">
        <!--Prevent browser caching-->
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">
        <title>playground</title>
        <%-_.include('web-component-wrapper/polyfill.html') %>
        <!--region script-->
        <script>
            AUTO_DEFINE_WEBSITE_UTILITIES = true

            window.document.documentElement.classList
                .remove('wu-no-javascript')
            window.document.documentElement.classList.add('wu-javascript')
        </script>
        <!--endregion-->
        <!--region style-->
        <style>
            body {
                margin: 0;
                padding: 0;
            }

            website-utilities {
                display: block;

                width: 100%;

                box-sizing: border-box;
                padding: 20px;

                background-color: black;
                color: white;

                a {
                    color: darkgrey;
                }

                header, footer {
                    height: 80px;

                    padding: 20px;

                    background-color: #238636;
                }

                .wu-priority-navigation {
                    border: 1px solid white;

                    a.wu-priority-navigation__link--active::after {
                        border-bottom: 2px solid white;
                        color: red;
                    }
                }

                main > section:first-child {
                    height: 8000px;
                }

                .content {
                    height: 80px;

                    margin: 20px;
                    padding: 20px;

                    background-color: rosybrown;
                }
            }
        </style>
        <!--endregion-->
    </head>
    <!--endregion-->
    <body class="wu-no-javascript">
        <script>
            window.document.body.classList.remove('wu-no-javascript')
            window.document.body.classList.add('wu-javascript')
        </script>

        <div class="wu-window-loading-cover">
            <div class="loading-text">
                <span>L</span>
                <span>O</span>
                <span>A</span>
                <span>D</span>
                <span>I</span>
                <span>N</span>
                <span>G</span>
            </div>
        </div>

        <website-utilities options="{
            sectionNames: {
                managed: [
                    'home',
                    'about',
                    'clients',
                    'contact-us',
                    'buy-lemons',
                    'dance-wildly',
                    'go-to-bed',
                    'donate-millions'
                ]
            },
            additionalPageLoadingTimeInMilliseconds: 200
        }">
            <header>
                <a href="/">Home</a>

                <nav role="navigation" class="wu-priority-navigation">
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#clients">Clients</a></li>
                        <li><a href="#contact-us">Contact Us</a></li>
                        <li><a href="#buy-lemons">Buy Lemons</a></li>
                        <li><a href="#dance-wildly">Dance Wildly</a></li>
                        <li><a href="#go-to-bed">Go To Bed</a></li>
                        <li><a href="#donate-millions">Donate Millions</a></li>
                        <li class="wu-priority-navigation__overflow">
                            <span
                                class="wu-priority-navigation__overflow__title"
                            >▼</span>
                            <ul class="wu-priority-navigation__overflow__list">
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>

            <main class="wu-router-outlet">
                <section data-website-utilities-section>
                    <div class="content wu-start-up-animation-number-1">
                        Show first home
                    </div>

                    <div class="content wu-start-up-animation-number-2">
                        Show second home
                    </div>

                    <div class="content wu-start-up-animation-number-3">
                        Show third home
                    </div>

                    <div class="content wu-start-up-animation-number-4">
                        Show fourth home
                    </div>

                    <div class="content wu-start-up-animation-number-5">
                        Show fifth home
                    </div>

                    <div class="content wu-start-up-animation-number-6">
                        Show sixth home
                    </div>

                    <div class="content wu-start-up-animation-number-7">
                        Show seventh home
                    </div>

                    <div class="content wu-start-up-animation-number-8">
                        Show eights home
                    </div>
                </section>

                <section data-website-utilities-section="about">
                    <div class="content wu-start-up-animation-number-1">
                        Show first about
                    </div>

                    <div class="content wu-start-up-animation-number-2">
                        Show second about
                    </div>

                    <div class="content wu-start-up-animation-number-3">
                        Show third about
                    </div>
                </section>

                <section data-website-utilities-section="clients">
                    <div class="content wu-start-up-animation-number-1">
                        Show first clients
                    </div>

                    <div class="content wu-start-up-animation-number-2">
                        Show second clients
                    </div>
                </section>

                <section data-website-utilities-section="contact-us">
                    <div class="content wu-start-up-animation-number-1">
                        Show first contact-us
                    </div>

                    <div class="content wu-start-up-animation-number-2">
                        Show second contact-us
                    </div>
                </section>

                <section data-website-utilities-section="buy-lemons">
                    <div class="content wu-start-up-animation-number-1">
                        Show first buy-lemons
                    </div>

                    <div class="content wu-start-up-animation-number-2">
                        Show second buy-lemons
                    </div>
                </section>

                <section data-website-utilities-section="dance-wildly">
                    <div class="content wu-start-up-animation-number-1">
                        Show first dance-wildly
                    </div>

                    <div class="content wu-start-up-animation-number-2">
                        Show second dance-wildly
                    </div>
                </section>

                <section data-website-utilities-section="go-to-bed">
                    <div class="content wu-start-up-animation-number-1">
                        Show first go-to-bed
                    </div>

                    <div class="content wu-start-up-animation-number-2">
                        Show second go-to-bed
                    </div>
                </section>

                <section data-website-utilities-section="donate-millions">
                    <div class="content wu-start-up-animation-number-1">
                        Show first donate-millions
                    </div>

                    <div class="content wu-start-up-animation-number-2">
                        Show second donate-millions
                    </div>
                </section>
            </main>

            <footer>
                <a href="#about">about</a>
                <div>
                    <%_ for (const name of [
                        'envelope-at-fill',
                        'github',
                        'x-lg',
                        'linkedin',
                        'twitter-x',
                        'facebook',
                        'globe'
                    ]) { _%>
                        <img
                            src="bootstrap-icons/icons/<%- name -%>.svg"
                            alt="<%- name -%>"
                            width="32"
                            height="32"
                        />
                    <%_ } _%>
                </div>
            </footer>

            <a class="wu-scroll-to-top" href="#top">scroll to top</a>
        </website-utilities>
    </body>
<html>
